.idea/*
.idea/
.code
.code/*

PHP/globals.php
PHP/globals.php_1.example


.vscode/*

/AI_backend/config.json

/AI_backend/yolo*.pt

/AI_backend/log/*

/AI_backend/venv/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.bak

/nbproject/private/
nbproject/*