<?php

define ('DB_IP', '');     //p:127.0.0.1  //p:persistant
define ('DB_USER', '');            //root
define ('DB_PASS', '');                //1111
define ('DB_PORT', '3306');            //3306
define ('DB_DBNAME', 'park_sense');
define ('DB_DEBUG', True);

define ('WEB_ROOT_DIR', dirname( __DIR__ ));